<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826233383575-gcts1jg0gh97jnmr05m954tt7eiea6er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826233383575-gcts1jg0gh97jnmr05m954tt7eiea6er</string>
	<key>API_KEY</key>
	<string>AIzaSyBslohY4Lv9FxYNJwMRDZtD_R_eXN7etjk</string>
	<key>GCM_SENDER_ID</key>
	<string>826233383575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlinegrocerystore</string>
	<key>PROJECT_ID</key>
	<string>dear-chat-d17c8</string>
	<key>STORAGE_BUCKET</key>
	<string>dear-chat-d17c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826233383575:ios:93e3a77376e4570e5097d2</string>
</dict>
</plist>